// 样式覆盖

/* 首页 Feature部分 - 悬停 */
.VPHomeFeatures .VPFeature:hover {
    border: 1px solid var(--vp-c-brand-1) !important;
}

/* 首页 Feature部分 - 链接文字 */
.VPHomeFeatures .VPFeature .link-text{
    color: var(--vp-c-brand-1) !important;
}

/* Nav菜单 - 激活 */
.VPNavBarMenu .VPNavBarMenuLink.active span {
    color: var(--vp-c-brand-1) !important;
}
/* Nav菜单 - 悬停 */
.VPNavBarMenu .VPNavBarMenuLink:hover span {
    color: var(--vp-c-brand-1) !important;
}

/* sidBarNav - 激活*/
.VPSidebarItem .items .is-active {
    color: var(--vp-c-brand-1) !important;
}
/* sidBarNav - 悬停*/
.VPSidebarItem .items .is-link:hover {
    color: var(--vp-c-brand-1) !important;
}