/** vitepress 样式覆盖 **/

/* 屏幕尺寸 > 1440px */
@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container.content-container {
    max-width: 100% !important;
  }
}

/* 首页 Hero 部分  */
.VPHero {
  .VPButton.art {
    border-color: var(--vp-button-alt-border);
    background-color: var(--vp-button-alt-bg);
  }
}

/* 首页 Feature 部分 */
.VPHomeFeatures .VPFeature {
  /* 悬停 */
  &:hover {
    border: 1px solid var(--vp-c-brand-1) !important;
  }

  /* - 链接文字 */
  .link-text {
    color: var(--vp-c-brand-1) !important;
  }
}

/* Nav 菜单 */
.VPNavBarMenu .VPNavBarMenuLink {
  /* 激活 */
  .active span {
    color: var(--vp-c-brand-1) !important;
  }

  /* 悬停 */
  &:hover span {
    color: var(--vp-c-brand-1) !important;
  }
}

/* sidBarNav */
.VPSidebarItem {
  .items {
    /* 激活 */
    .is-active {
      color: var(--vp-c-brand-1) !important;
    }

    /* 悬停 */
    .is-link:hover {
      color: var(--vp-c-brand-1) !important;
    }
  }
}
